dist
midtools.egg-info
*.pyc
*~
__pycache__
_trial_temp
.pytest_cache
simulations/**/OUT
simulations/**/*.bam
simulations/**/bowtie2-*
simulations/**/*.fasta
simulations/**/*.fastq
simulations/**/*.locations
simulations/**/LOG
