dist
midtools.egg-info
*.pyc
*~
__pycache__
_trial_temp
.pytest_cache
simulations/**/*.sam
simulations/**/*.bam
simulations/**/*.bai
simulations/**/*.html
simulations/**/*.fasta
simulations/**/*.fastq
simulations/**/*.fai
simulations/**/*.out
simulations/**/*.stdout
simulations/**/*.bt2
simulations/**/LOG
simulations/**/bowtie2-sam
